[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
mpyl = {version = "==174.2000", index = "testpypi"}

[requires]
python_version = "3.9"

[scripts]
clean = "mpyl build clean"
health = "mpyl health"
run = "python mpyl-run.py --local --all"
