[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
mpyl = {version = "==451.4230", index = "testpypi"}

[requires]
python_version = "3.9"

[scripts]
#dagster = "dagster dev -f mpyl-dagster-example.py -d /tmp/dagster"
clean = "mpyl build clean"
health = "mpyl health"
run = "python mpyl-run.py --local --all"

[dev-packages]
dagster = "==1.8.7"